{{ template "layout/header.tmpl" . }}

<div class="row">
  <div class="col-sm-12 panel panel-default">
    <div class="panel-heading">
      <h1>Login</h1>
    </div>
    <div class="panel-body">
      <form action="{{ URLFor "auth.login" }}" method="post" autocomplete="off">
        <div class="form-group">
          <label for="identifier">Email/Username</label>
          <input id="identifier" class="form-control" name="identifier" type="text" placeholder="you@example.com">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" class="form-control" name="password" type="password" >
        </div>

        {{ .csrf_token }}

        <button class="btn btn-primary">
          <span class="glyphicon glyphicon-log-in"></span> Login
        </button>
      </form>
    </div>
    <div class="row bottom-links">
      <div class="col-sm-12">
        <p>Don't have an account? Go <a href="{{ URLFor "auth.register" }}">register</a> an account.</p>
      </div>
    </div>
  </div>
</div>

{{ template "layout/footer.tmpl" . }}
