{% if flash.success %}
  <div class="row">
    <div class="alert alert-success">
      {{ flash.success }}
    </div>
  </div>
{% endif %}

{% if flash.error %}
  <div class="row">
    <div class="alert alert-danger">
  		{{ flash.error }}
    </div>
  </div>
{% endif %}
