{{ if .Flash.InfoMsg }}
  <div class="row">
    <div class="alert alert-info">
      {{ .Flash.InfoMsg }}
    </div>
  </div>
{{ end }}

{{ if .Flash.SuccessMsg }}
  <div class="row">
    <div class="alert alert-success">
  		{{ .Flash.SuccessMsg }}
    </div>
  </div>
{{ end }}

{{ if .Flash.WarningMsg }}
  <div class="row">
    <div class="alert alert-warning">
  		{{ .Flash.WarningMsg }}
    </div>
  </div>
{{ end }}

{{ if .Flash.ErrorMsg }}
  <div class="row">
    <div class="alert alert-danger">
      {{ .Flash.ErrorMsg }}
    </div>
  </div>
{{ end }}
