{{ define "partials_navbar" }}
  <nav id="top-navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="menu-toggle" class="btn btn-default">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
          <span class="glyphicon glyphicon-menu-right"></span>
        </a>
        <a class="navbar-brand" href="/">Gowis</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="#">Stream</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ URLFor "users.list" }}">Users</a></li>
              <li><a href="#">Groups</a></li>
              <li><a href="#">Namespaces</a></li>
            </ul>
          </li>

          {{ if .user }}{{ with $user := .user }}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle dropdown-img" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="img-rounded" src="{{ .GetGravatarURL }}" alt="" width="30"> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {{ with $userid := printf "%d" .ID }}
                  <li><a href="{{ URLFor "users.view" ":userID" $userid }}">{{ $user.Fullname }}</a></li>
                {{ end }}
                <li><a href="{{ URLFor "auth.logout" }}">
                  <span>Logout</span>&nbsp;
                  <span class="glyphicon glyphicon-log-out"></span>
                </a></li>
              </ul>
            </li>
          {{ end }}{{ else }}
            <li class="navbar-link"><a href="{{ URLFor "auth.login" }}">
              <span>Login</span>&nbsp;
              <span class="glyphicon glyphicon-log-in"></span>
            </a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
{{ end }}
