<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-link"><a href="#">
      <span class="sidebar-icon glyphicon glyphicon-tasks"></span>
      <span class="sidebar-text">Stream</span>
    </a></li>
    <li class="sidebar-link"><a href="/list">
      <span class="sidebar-icon glyphicon glyphicon-list-alt"></span>
      <span class="sidebar-text">List of Pages</span>
    </a></li>
    <li class="sidebar-link"><a href="#">
      <span class="sidebar-icon glyphicon glyphicon-user"></span>
      <span class="sidebar-text">Account</span>
    </a></li>
    <li class="sidebar-link"><a href="#">
      <span class="sidebar-icon glyphicon glyphicon-cog"></span>
      <span class="sidebar-text">Settings</span>
    </a></li>
    <li class="sidebar-link"><a href="#">
      <span class="sidebar-icon glyphicon glyphicon-log-in"></span>
      <span class="sidebar-text">Login</span>
    </a></li>
  </ul>
</div>
