{{ define "partials_sidebar" }}
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-link"><a href="/create">
        <span class="sidebar-icon glyphicon glyphicon-file"></span>
        <span class="sidebar-text">Create</span>
      </a></li>
      {{ if .page }}
        <li class="sidebar-link"><a href="/edit/{{ .page.URLSlug }}">
          <span class="sidebar-icon glyphicon glyphicon-edit"></span>
          <span class="sidebar-text">Edit</span>
        </a></li>
      {{ end }}
      <li class="sidebar-link"><a href="#">
        <span class="sidebar-icon glyphicon glyphicon-cog"></span>
        <span class="sidebar-text">Settings</span>
      </a></li>
    </ul>
  </div>
{{ end }}
