# ignore the installed vendor files - these are installed manually
.vendor/
vendor/

# ignore the built binary
gowis

# we don't need to sync the log files
*.log
log/

# data directory that stores local data (mainly for testing)
data/

# NPM modules
node_modules/

# these files are dynamically generated with Grunt.js
public/css
public/js

# SASS cache
.sass-cache/

# Some other recommended stuff to ignore
.DS_Store
custom/
.idea/
*.iml
public/img/avatar/
*.exe
*.exe~
profile/
*.pem
output*
/release
