# ignore the installed vendor files
.vendor/

# ignore the built binary
gowis

# we don't need to sync the DB and log files
*.db
*.log
data/
log/

# file-based sessions really should not be synced
.sessions/

# Some other recommended stuff to ignore
.DS_Store
custom/
.idea/
*.iml
public/img/avatar/
*.exe
*.exe~
profile/
*.pem
output*
/release
