{% extends "../layout.jinja" %}

{% block content %}

<div class="row">
  <div class="panel panel-primary">
    <div class="panel-body">
      <p>It works!</p>
    </div>
  </div>
</div>

{% endblock %}
