{{ template "layout_header" . }}

<div class="row">
  <div class="panel panel-primary">
    <div class="panel-body">
      <p>It works!</p>
    </div>
  </div>
</div>

{{ template "layout_footer" . }}
