{% extends "../layout.jinja" %}

{% block content %}

<div class="row">
  <div class="col-sm-12 panel panel-default">
    <div class="panel-heading">
      <h1>List of Pages</h1>
    </div>
    <div class="panel-body">
      {% for page in pages %}
        <p><a href="/view/{{ page.UrlSlug }}">{{ page.UrlSlug }}</a></p>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
