{% extends "../layout.jinja" %}

{% block content %}
  <div class="row">
    <div class="col-sm-12 panel panel-default">
      <div class="panel-heading">
        <h1>{{ page.URLSlug }}</h1>
      </div>
      <div class="panel-body">
        {{ convertedPageContent|safe }}
      </div>
      <div class="row bottom-links">
        <div class="col-sm-12">
          <a class="btn btn-default" href="{{ URLFor("wiki.home") }}">Home</a>
          <a class="btn btn-default" href="{{ URLFor("wiki.edit", ":urlSlug", page.URLSlug) }}">Edit</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
