{{ template "layout_header" . }}

<div class="row">
  <div class="col-sm-12 panel panel-default">
    <div class="panel-heading">
      <h1>Editing {{ .page.URLSlug }}</h1>
    </div>
    <div class="panel-body">
      <form action="{{ URLFor "wiki.edit" ":urlSlug" .oldslug }}" method="post">
        <div class="form-group {{ if .errors.urlslug }}has-error{{ end }}">
          <label for="urlSlug"><u>URL Slug:</u></label>
          <div class="input-group">
            <span class="input-group-addon">Gowis</span>
            <input type="text" class="form-control" id="urlSlug" name="url_slug" placeholder="url-slug" value="{{ .page.URLSlug }}">
          </div>
          {{ if .errors.urlslug }}
            <ul>
              {{ range $error := .errors.urlslug }}
                <li><span class="help-block">{{ $error }}</span></li>
              {{ end }}
            </ul>
          {{ end }}
        </div>

        <div class="form-group">
          <label for="pageContent"><u>Page Content:</u></label>
          <textarea name="page_content" id="pageContent" rows="14" class="form-control" placeholder="Put your markdown content here...">{{ .page.PageContent }}</textarea>
        </div>

        <div class="form-group {{ if .errors.commitmessage }}has-error{{ end }}">
          <label for="commitMessage"><u>Message:</u></label>
          <input type="text" class="form-control" id="commitMessage" name="commit_message" placeholder="commit-message" />
          {{ if .errors.commitmessage }}
            <ul>
              {{ range $error := .errors.commitmessage }}
                <li><span class="help-block">{{ $error }}</span></li>
              {{ end }}
            </ul>
          {{ end }}
        </div>

        {{ .csrf_token|raw }}

        <div class="row bottom-links">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Submit Changes</button>
            <a class="btn btn-default" href="{{ URLFor "wiki.home" }}">Home</a>
            <a class="btn btn-default" href="{{ URLFor "wiki.view" ":urlSlug" .page.URLSlug }}">View</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{ template "layout_footer" . }}
