{{ template "layout_header" . }}

<div class="row">
  <div class="col-sm-12 panel panel-default">
    <div class="panel-heading">
      <h1>{{ .page.URLSlug }}</h1>
      <h5 class="faded">Created on {{ .page.CreatedAt.Format "Jan 02, 2006 1:04:05 AM EST" }} by <a href="{{ URLFor "users.view" ":userID" ( printf "%d" .page.CreatedBy.ID ) }}">{{ .page.CreatedBy.Fullname }}</a></h5>
      {{ if ne (.page.UpdatedAt.Format "Jan 02, 2006 1:04:05 AM EST") (.page.CreatedAt.Format "Jan 02, 2006 1:04:05 AM EST") }}
        <h5 class="faded">Last edited by {{ .page.UpdatedAt.Format "Jan 02, 2006 1:04:05 AM EST" }} by <a href="{{ URLFor "users.view" ":userID" ( printf "%d" (.page.LastEditedBy).ID ) }}">{{ (.page.LastEditedBy).Fullname }}</a></h5>
      {{ end }}
    </div>
    <div class="panel-body">
      {{ .convertedPageContent|raw }}
    </div>
    <div class="row bottom-links">
      <div class="col-sm-12">
        <a class="btn btn-default" href="{{ URLFor "wiki.home" }}">Home</a>
        <a class="btn btn-default" href="{{ URLFor "wiki.edit" ":urlSlug" .page.URLSlug }}">Edit</a>
        <a class="btn btn-default" href="{{ URLFor "wiki.delete" ":urlSlug" .page.URLSlug }}">Delete</a>
      </div>
    </div>
  </div>
</div>

{{ template "layout_footer" . }}
