{{ define "layout_header" }}
<!doctype html>
<html>
<head>
  <title>{{ .title }}</title>
  <!-- stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/varrock.css" />
  <!-- javascript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/js/draynor.js"></script>
<body>
  <!-- page wrapper -->
  <div id="wrapper">
    <!-- navbar -->
    {{ template "partials_navbar" . }}

    <!-- sidebar -->
    {{ template "partials_sidebar" . }}

    <!-- page content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <!-- flash message -->
        {{ template "partials_flash" . }}

        <!-- view main content -->
{{ end }}
